body {
    font-family: Arial, sans-serif;
    background-color:lightblue;
    margin: 0;
    padding: 20px;
}

.imge {
    text-align: center;
    background: blue;
    padding: 20px;
    border-radius: 10px;
}




section {
    background: whitesmoke;
    padding: 15px;
    margin-top: 20px;
    border-radius: 8px;
}
