body {
    font-family: Arial, sans-serif;
    background-color:lightblue;
    margin: 0;
    padding: 20px;
}

.links {
    display: flex;        /* FLEXBOX */
    gap: 30px;            /* space between links */
    margin-top: 20px;
}

.links a {
    text-decoration: none;
    background-color: blue;
    color: white;
    padding: 6px 12px;
    border-radius: 5px;
}
   



section {
    background: whitesmoke;
    padding: 15px;
    margin-top: 20px;
    border-radius: 8px;
}

  